html {
  font-family: Menlo;
  color: white;
}

@media (min-width: 1100px) {
  .grid {
    display: grid;
  }
}

@media only screen and (max-width: 1100px) {
  .grid {
    grid-template-areas:
      'header'
      'article'
      'left'
      'right';
  }
  .header,
  .left,
  .right,
  .article {
    margin-bottom: 20px;
  }
}

@keyframes animatieTitlu {
  0% {font-family: Menlo;}
  20% {font-family: cursive; color: pink;}
  40% {font-family: fantasy; color: blue;}
  60% {font-family: sans-serif; color: orange;}
  80% {font-family: Comic Sans; color: purple;}
}

h1 {
  animation-name: animatieTitlu;
  animation-duration: 4s;
}

#rotator {
  border-radius: 35px 15px;
  box-shadow: 3px 1px 3px 2px;
  width: 100%;
  margin-top: 10px;
}

#infoDiv {
  text-align: center;
}

.header a {
  text-decoration: none;
  color: #ed1363;
  font-weight: bolder;
}

.article a {
  text-decoration: none;
  color: white;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div>p {
  position:relative;
  display: inline;
}

.grid {
  grid-template-areas:
    'header header header header'
    'left article article right';
  grid-gap: 1em;
}

.header,
.left,
.right,
.article {
  background: #279be3;
  padding: 1em;
  opacity: 0.7;
}

.left {
  grid-area: left;
  border-style: inset;
  border-radius: 15px 35px;
  transition: opacity 1s, transform 1s;
  transform: translateX(-100%);
}

.left:hover {
  opacity: 100%;
}

.right {
  grid-area: right;
  border-style: inset;
  border-radius: 15px 35px;
  transition: opacity 1s, transform 1s;
  transform: translatex(100%);
}

.right:hover {
  opacity: 100%;
}

.article {
  border-style: inset;
  grid-area: article;
  border-radius: 35px 15px;
  transition: opacity 1s, background-color 2s, transform 1s;
  transform: translateY(100%);
}

.article:hover {
  opacity: 100%;
  background-color: #437ff7;
}

.header {
  grid-area: header;
  top: 0;
  z-index: 100;
  position: sticky;
  display: block;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 15px 35px;
  border-style: outset;
  transition: opacity 1s, transform 1s;
  transform: translateY(-100%);
}

.header:hover {
  opacity: 100%;
}

.log {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
}

.right {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#impozitRezultat p {
  display: block;
}

h1 {
  display:inline;
}

.masina {
  text-align: center;
  width: 100%;
  border-style: outset;
  border-radius: 35px 15px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.masinaFlex {
  display: flex;
}

.masinaFlex img {
  width: 40%;
  border-radius: 35px 15px;
  box-shadow: 3px 1px 3px 2px;
}

.masinaFlex p {
  padding-left: 10px;
  padding-right: 10px;
}

.article>h2 {
  text-align: center;
}

.left h3 {
  text-align: center;
}

.input {
  width: 93%;
  background: transparent;
  border-style: inset;
  height: 40px;
  border-radius: 15px;
  padding: 0 10px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  outline: none;
  margin-top: 20px;
}

button {
  margin: auto;
  font-family: Menlo;
  font-weight: bolder;
  font-size: 15px;
  width: 100%;
  background: transparent;
  border-style: inset;
  border-radius: 15px 35px;
  padding: 0 10px;
  height: 30px;
  cursor: pointer;
  background-color: #c72e75;
  margin-top: 20px;
}

#headerRight {
  float:right;
  display: flex;
}
